<a href="https://colab.research.google.com/github/kellycochran/Intro_To_Python/blob/main/class01/2019-11-19%20BIOS%20274%20-%20Data%20Types%20Practice%20-%20Veronica.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Data Types

**12-07-2020** <br>
**BIOS 274: Introductory Python Programming for Genomics** <br>

## Table of Contents

1. [Python data types](#data types)<br>
>- [Integers and Floats](#int)<br>
>- [Strings](#str)<br>
>- [Lists and Tuples](#list)<br>
>- [Booleans](#bool)<br>

2. [Converting between data types](#convert)<br>
3. [Let's practice!](#practice)

<a id="data types"></a>
# Python data types

#### **IMMUTABLE**
- <code>integer</code>&emsp;&emsp;&emsp;&emsp;      <code>a = 2</code><br>
- <code>float</code>&emsp;&emsp;&emsp;&emsp;&emsp;&ensp;        <code>b = 2.0</code><br>
- <code>string</code>&emsp;&emsp;&emsp;&emsp;&ensp;&ensp;       <code>c = 'this is my string'</code><br>
- <code>tuple</code>&emsp;&emsp;&emsp;&emsp;&emsp;&ensp;       <code>d = (1, 2, 3, 4)</code><br>
- <code>boolean</code>&emsp;&emsp;&emsp;&emsp;      <code>e = True</code><br>

#### **MUTABLE**
- <code>list</code>&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&ensp;         <code>f = [1, 2, 3, 4]</code><br>
- <code>dictionary</code>&emsp;&emsp;   <code>g = {'one': 1, 'two', 2}</code> &emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&ensp;&ensp;(didn't cover today)<br>
- <code>set</code>&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;         <code>h = set([1, 1, 1, 1, 2, 2, 3, 3, 4])</code> (didn't cover today)

<a id="int"></a>
### Integers (int) and Floats (IMMUTABLE)

In [ ]:
x = 2   # this is an integer
y = 2.0 # this is a float

# Add +
# Subract -
# Multipy *
# Divide / or //
# Power **, pow(9, .5)

# Modulo (remainder) %
print(20 % 3) # 20 / 3 = 6 with remainder 2, so this returns 2

# Absolute value
print(abs(-5))

# Square root
import math
print(math.sqrt(9))

2
5
3.0

BEFORE RUNNING THIS CELL, TRY TO PREDICT THE OUTPUT!

In [ ]:
# += -+ *= /= **=

# i += 1 is equivalent to i = i + 1
# i *= 5 is equivalent to i = i * 5

i = 5
print(i)

i += 1
print(i)

i += 1
print(i)

i *= 2
print(i)

5
6
7
14

<a id="str"></a>
### Strings (str) (IMMUTABLE)

In [ ]:
z = 'abcddd' # this is a string

In [ ]:
# Concatonate and multipy
print(z+z)
print(z*3)

abcdddabcddd
abcdddabcdddabcddd

In [ ]:
# Index
print(z[0])
print(z[2])

a
c

In [ ]:
# Slice
print(z[1:3])
print(z[:3])
print(z[::-1]) # reverses a string

bc
abc
dddcba

In [ ]:
# Upper case or lower case
print(z.upper()) # z.lower()

ABCDDD

In [ ]:
# Ask if a string starts with or ends with another string

print(z.startswith('abc')) # True
print(z.startswith('x')) # False
print()

print(z.endswith('dd')) # True
print(z.endswith('xyz')) # False

True
False

True
False

In [ ]:
# Find index
print(z.find('z'))
print(z.index('z'))

-1

ValueError: substring not found

In [ ]:
# Count number of occurances
print(z.count('b'))
print(z.count('f'))

1
0

In [ ]:
# Find length
print(len(z))

6

<a id="list"></a>
### Lists (MUTABLE) and Tuples (IMMUTABLE)

In [ ]:
y = (1,2,3,4) # this is a tuple (immutable)
z = [1,2,3,4] # this is a list (mutable)

In [ ]:
# Concatonate and multiply
print(z+z)
print(z*3)

[1, 2, 3, 4, 1, 2, 3, 4]
[1, 2, 3, 4, 1, 2, 3, 4, 1, 2, 3, 4]

In [ ]:
# Index
print(z[2])

3

In [ ]:
# Find index
print(z.index(2))

1

In [ ]:
# Slice
print(z[1:3])
print(z[::-1]) # reverses list

[2, 3]
[4, 3, 2, 1]

In [ ]:
# Lists are mutable, so items can be added (tuples are immutable so items cannot be added)

z.append(5) # add one item at a time with append()
print(z)

z.extend([6, 7]) # add many items at a time with extend()
print(z)

[1, 2, 3, 4, 5]
[1, 2, 3, 4, 5, 6, 7]

In [ ]:
# Lists are mutable and can be edited (tuples are immutable and can't be edited)
z[2] = 9
print(z)

[1, 2, 9, 4, 5, 6, 7]

In [ ]:
# Count number of occurances
print(z.count(2))

1

In [ ]:
# Find length
print(len(z))

7

In [ ]:
# Find maximum and minimum
print(max(z))
print(min(z))

9
1

In [ ]:
# Find the sum of all integers and floats in a list or tuple
print(sum(z))

34

In [ ]:
# Index lists/tuples within lists/tuples
a = ['a', 'b', 'c', ('x', 'y')]
print(a[3][1])

y

<a id="bool"></a>
### Booleans (bool) (IMMUTABLE)

In [ ]:
# True and False
# "Everything that isn't False is True"
# The False things:  0, 0.0, '', [], () ,{}, False , None

In [ ]:
# >
# <
# >=
# <=
# ==     # because the single equals sign is taken already!
# !=     # not equal to
# and
# or
# in
# not in

In [ ]:
print(4 == 4) # True
print(4 != 4) # False
print(5 > 7) # False
print(9 <= 9) # True
print()

print(4 == 4 and 3 == 3) # True
print(4 == 4 and 3 != 3) # False
print(4 == 4 or 3 != 3) # True
print(0 > 4 or 8 >= 7) # True
print()

print(5 in [1, 2, 3, 4, 5]) # True
print(5 in [1, 2, 3, 4]) # False
print(5 not in [1, 2, 3, 4, 5]) # False
print(5 not in [1, 2, 3, 4]) # True
print()

if 0.0 == False:
    print('0.0 is False')
    
# better but maybe confusing
if not 0.0:
    print('0.0 is False')

True
False
False
True

True
False
True
True

True
False
False
True

0.0 is False
0.0 is False

<a id="convert"></a>
## Converting between data types

In [ ]:
myInt = 4
myFloat = 4.368
myString = 'abcd'
myList = ['1', '2', '3']

In [ ]:
# Check the type of the variable using type()
print(type(myInt))
print(type(myFloat))
print(type(myString))
print(type(myList))

<class 'int'>
<class 'float'>
<class 'str'>
<class 'list'>

In [ ]:
# Simple ways to convert ints and floats using float(), int(), str()
print(float(myInt))
print(int(myFloat))
print(str(myFloat))

4.0
4
4.368

In [ ]:
# Convert from a list to a string using .join()
print(''.join(myList))
print(' '.join(myList))
print('\t'.join(myList)) # \t is how you indicate tabs
print('\n'.join(myList)) # \n is how you indicate new lines (enters)

123
1 2 3
1	2	3
1
2
3

In [ ]:
# Convert a string to a list using list() or .split()
print(list(myString))

myNewString = '1-2-3' # ['1', '2', '3']
print(myNewString.split('-'))

myNewString2 = '1 2 3'
print(myNewString2.split(' '))

['a', 'b', 'c', 'd']
['1', '2', '3']
['1', '2', '3']

<a id="practice"></a>
## Let's practice!

### Exercise 1

In [ ]:
myList1 = [1, 2, 3, 4, 5, 6]

**1.a.** Without initializing any new variables and only using <code>myList1</code>, print out <code>[4, 5, 6, 1, 2, 3]</code>

In [ ]:
print(myList1[3:] + myList1[:3])

[4, 5, 6, 1, 2, 3]

**1.b.** Without initializing any new variables and only using <code>myList1</code>, print out <code>[4, 5, 6, 3, 2, 1]</code>

In [ ]:
print(myList1[3:] + myList1[2::-1])

[4, 5, 6, 3, 2, 1]

### Exercise 2

In [ ]:
myList2 = ['This', 'is', 'BIOS274.', ['It is a', 'fun class!']]

**2.a.** Without initializing any new variables and only using <code>myList2</code>, print out <code>'2'</code>.

In [ ]:
# YOUR SOLUTION HERE
print(myList2.index('BIOS274.'))

2

**2.b.** Print out only <code>'fun class!'</code>.

In [ ]:
# YOUR SOLUTION HERE

**2.c.** Print out <code>'This is BIOS274. It is a fun class!'</code>

In [ ]:
# YOUR SOLUTION HERE

### Exercise 3

Calulate the sum of the 3rd and the 5th numbers in the list below and append the result to the end of the <code>myList3</code>.

In [ ]:
myList3 = ['4', '6', '2', '1', '8', '7', '3']

In [ ]:
# YOUR SOLUTION HERE

### Exercise 4

**4.a.** What percentage of the items in <code>myList4</code> is equal to <code>3</code>?<br>
**4.b.** What percentage of the items in <code>myList4</code> is equal to <code>4</code>?<br>
**4.c.** What percentage of the items in <code>myList4</code> is equal to <code>5</code>?<br>

In [ ]:
myList4 = [3, 3, 4, 4, 4, 3, 5, 4, 4, 4, 5, 5, 5, 4, 5, 3, 5, 4, 3, 3, 4, 3, 5, 4, 3, 3, 5, 3, 4, 4, 4, 4, 3, 5]

In [ ]:
# YOUR SOLUTION HERE

### Exercise 5

**5.a.** Using only <code>myString1</code> and without initializing any new variables, print out: <code>['ab', 'ab', 'ab', 'ab', 'ab', 'ab']</code><br> 
**5.b.** Using only <code>myString1</code> and without initializing any new variables, print out: <code>'bCbC'</code><br>
<br>
Try to solve **5.a** and **5.b.** in multiple ways.

In [ ]:
myString1 = 'abCabCab'

In [ ]:
# YOUR SOLUTION HERE

### Exercise 6

Find the index of the second <code>'a'</code> in <code>myString2</code>.
> Try using <code>s.index()</code>!<br>
> Try using <code>s.replace()</code>!<br>
> Try using slicing!

In [ ]:
myString2 = 'BBnBBBBBaCCCCCaDDDDDDDnDDDDDaEnEE'

In [ ]:
# YOUR SOLUTION HERE

### Exercise 7

**7.a.** Which of these three homeobox transcription factors will bind to the sequence defined in <code>seq1</code>?

>- <code>CRX</code> recognizes <code>TAATCC</code><br>
>- <code>DBX1</code> recognizes <code>ATTAATTA</code> or <code>TTTAATTA</code><br>
>- <code>PKNOX2</code> recognizes <code>TGACAGCTGTCA</code> or <code>TGACAGGTGTCA</code><br>

Please print the name of the transcription factor followed by <code>True</code> if it will bind or <code>False</code> if it will not bind as shown below.<br>


<code>CRX:     True
 DBX1:	False
 PKNOX2:  True
</code>

In [ ]:
seq1 = 'gGgctAatCcaccCCccagtacCcAcatgacaGgtGtcaccctagcTtaAtcccCgccatcgatcaaccttTagC'

In [ ]:
# YOUR SOLUTION HERE

**7.b** Do all three of these transcription factors bind <code>seq2</code>?  Print <code>True</code> if they all do and <code>False</code> if not.<br>
**7.c** Do all three bind <code>seq3</code>?

In [ ]:
seq2 = 'gGgctTaaTCccCccagtacCcAcaTttAaTtatGtcaCcctagcTgacagCTgtcacgCCatcgatcaaccttTagC'
seq3 = 'ggtatatccggccgataATtatatAagcgcgccccTgaCAgcTgtCAtaatatcgatcgatcaGGagcggctatAtagcgcgcGatcagcagcctcga'

In [ ]:
# YOUR SOLUTION HERE

### Exercise 8

**8.a.** How many integers appear in <code>myList5</code>?<br>
**8.b.** How many floats appear in <code>myList5</code>?<br>
**8.c.** How many integers appear in <code>myList5</code>?

In [ ]:
myList5 = ['apple', 'a', 1, 5, 'o', 3.4, 7.8, 5, 2, 7, 8, 1, 3.5, 6, 'a', 'hello', True, 7, 9, 3.0, 1, 5, False]

In [ ]:
# YOUR SOLUTION HERE

# Start with this code.

# You won't actually need to print each item in the list, 
#     so comment out the print statement once you understand the code.

for item in myList5:
    print(item)