<h1>BIOS-274 : November 19 : Class 2</h1>

<h2>Data Types</h2>

int (integers), float (floating point), str (string), boolean (True, False), list (aka array), and tuple (ordered fixed lists)

<h2>Examples:</h2>

<code>
int : 0, 2, 4, 456, -2, 546
float : 0.0, -1., 1.3, .00351, 4.004
str : 'abcde', 'ATuGCTt', ' ', '    100    ', '$_%@_()+=', '0'
boolean : True, False
list : [1, 5, 4, 7, 8, 24000], ['a', 'A', ' ', '45'], ['a', 3, 0, '0', 'Blue']
tuple : (3, 4), ('a', 3), (2, 5, 8, 2), ('a')
</code>

<h3>datatype casting</h3>

<code>str()</code> : cast to string<br>
<code>int()</code> : cast to integer<br>
<code>list()</code> : cast to list<br>
<code>type()</code> : what type<br>
<code>float()</code> : cast to float<br>
<code>boolean()</code> : cast to boolean<br>
<code>tuple()</code> : cast to tuple<br>

<h3>arithmetic operators</h3>

<code>+</code> : addition<br>
<code>-</code> : substraction<br>
<code>*</code> : mutiplication<br>
<code>/</code> : division<br>
<code>%</code> : modulo<br>
<code>**</code> : exponent<br>
<code>//</code> : floor division

<h3>integer (int) datatype</h3>

In [ ]:
1 + 2

In [ ]:
1 + 3 - 1

In [ ]:
1 + 3 * 3

In [ ]:
1 + (3 * 3 - 4)

In [ ]:
1 + ( 3 * (2 + 1 * 3) - 4)

In [ ]:
10 % 3

In [ ]:
232 % 3

<h3>floating point (float) datatype</h3>

In [ ]:
type(1.0)

In [ ]:
3 * 4 - 1.

In [ ]:
type(1 + 3 * 10 / 5)

In [ ]:
1.5 * .32

In [ ]:
1.5 * -.32

In [ ]:
4 / 2

In [ ]:
1 + 3 * 10 / 5

In [ ]:
int(5/2)
# a comment here

<h3>comparison operators</h3>

<code>==</code> : equal<br>
<code>!=</code> : not equal<br>
<code>></code> : greater than<br>
<code><</code> : less than<br>
<code>>=</code> : greater than or equal<br>
<code><=</code> : less than or equal<br>

<h3>string datatype</h3>

In [ ]:
'A'

In [ ]:
type('A')

In [ ]:
'Hello are you there'

In [ ]:
'abc' == "abc" # use single or double, but pick one

In [ ]:
'6'

In [ ]:
int('6') == 6

In [ ]:
3*'a' # repetition

In [ ]:
type(3*'a')

In [ ]:
' '

In [ ]:
'  a ' * 4

In [ ]:
'ACGT' + 'agct'

In [ ]:
'ACGT' * 'agct'

<h3>variables</h3>

In [ ]:
one = 1
two = 2
three = 3.

In [ ]:
four = two * two

In [ ]:
four

In [ ]:
four - one * two

<h3>immutable or 
   mutable?</h3>

In [ ]:
# IMMUTABLE
#   integer     x = 2
#   float       x = 2.0
#   string      x = 'hello'
#   tuple       x = (1, 2, 3)
#   boolean     x = True

# MUTABLE
#   list        x = [1, 2, 3]

In [ ]:
a = 'ABC'
b = 'DEF'
c = a

In [ ]:
a[0]

In [ ]:
a == c # compares value

In [ ]:
a is c # compares objects

In [ ]:
id(a)

In [ ]:
id(c)

In [ ]:
a = 'GHI'

In [ ]:
id(a)

In [ ]:
c

In [ ]:
id(c)

<h3>declaring a variable's type</h3>

In [ ]:
apple_count = 0

In [ ]:
apple_count = int()

In [ ]:
apple_size = 0.

In [ ]:
apple_size = float()

<h3>slice</h3>

In [ ]:
stuff = 'Hello is anyone out there?'

In [ ]:
stuff[6]

In [ ]:
stuff[7:9]

In [ ]:
stuff[6:]

In [ ]:
stuff[7:24:4] # [ start : stop : step]

In [ ]:
stuff[::-2]

In [ ]:
stuff[one:four**four:two]

<h3>list</h3>

In [ ]:
bob = ['a', 2, 4., .4]

In [ ]:
bob

In [ ]:
bob = bob * 3

In [ ]:
bob

In [ ]:
type(bob)

In [ ]:
type(bob[0:2])

In [ ]:
id(bob)

In [ ]:
bob[0] = 'z'

In [ ]:
id(bob) # lists are mutable

<h3>boolean datatype</h3>

In [ ]:
True

In [ ]:
False

In [ ]:
None

In [ ]:
True == 1

In [ ]:
False == 0

In [ ]:
True and True

In [ ]:
False and True

In [ ]:
1 == 1 and 2 == 1

In [ ]:
"test" == "test"

In [ ]:
1 == 1 or 2 != 1

In [ ]:
True and 1 == 1

In [ ]:
False and 0 != 0

In [ ]:
True or 1 == 1

In [ ]:
"test" == "testing"

In [ ]:
1 != 0 and 2 == 1

In [ ]:
"test" == 1

In [ ]:
not (True and False)

In [ ]:
not (1 == 1 and 0 != 1)

In [ ]:
not (10 == 1 or 1000 == 1000)

In [ ]:
not (1 != 10 or 3 == 4)

<h3>tuple : immutable sequence </h3>

In [ ]:
ex3 = tuple()

In [ ]:
ex3 = (3,4,21,0,6,7,11,1)

In [ ]:
ex3[0]

In [ ]:
ex3[0] = 5

In [ ]:
print(ex3)

In [ ]:
ex4 = list(ex3)

In [ ]:
ex4

In [ ]:
ex5 = tuple(ex4)

In [ ]:
print(ex5)

<h3>functions</h3>

<code>len()</code> : length<br>
<code>print()</code> : print<br>
<code>max()</code> : max<br>
<code>min()</code> : min<br>
<code>pow()</code> : power<br>
<code>input()</code> : input from terminal<br>
<code>round()</code> : round floating point<br>
<code>range()</code> : generate list of integers<br>

In [ ]:
print('ZZ') # function is on its our

In [ ]:
'ZZ'

In [ ]:
pow(3,-2)

In [ ]:
int(0.9)

In [ ]:
round(0.9)

In [ ]:
type(min(3,5,3.4,2.5))

In [ ]:
min('a','C','2','+')

In [ ]:
type(3)

In [ ]:
list(range(3,10,2))

In [ ]:
print(list(range(10)))

In [ ]:
type(range(10)) #returns range object, a type of iterable

In [ ]:
type(list(range(10)))

In [ ]:
banana = range(10)

In [ ]:
banana

In [ ]:
type(banana)

In [ ]:
apple_list = range(10)

In [ ]:
apple_list

In [ ]:
list(range(33, -10, -3))

In [ ]:
round(4/3, 2)

In [ ]:
print('Hello')

In [ ]:
print(3)

In [ ]:
print('this is the number three' + str(3))

In [ ]:
print('this is the number three :', 3)

<h3>methods</h3>

<code>seq.index()</code> : identify index position of query<br>
<code>seq.count()</code> : count number of query<br>
<code>list.append()</code> : add single element to a list<br>
<code>list.extend()</code> : add a list elements to a list<br>
<code>str.lower()</code> : lower case string<br>
<code>str.upper()</code> : upper case string<br>
<code>str.replace()</code> : replace one string for another<br>
<code>str.find()</code> : locate query in string<br>

In [ ]:
print([2, 6, 8, 2].index(2))

In [ ]:
[2, 6, 8, 2].index(2,1)

In [ ]:
print('ghijk'.find('ij'))

In [ ]:
'GCATGAAA'.lower()

In [ ]:
seq = 'GCATGAAA'
print('1:', seq)
seq = seq.lower()
print('2:', seq)

In [ ]:
a = ['a','b','c']
a.extend(['e','f'])
print(a)

In [ ]:
b = ['a','b','c']
b.append(['e','f'])
print(b)

In [ ]:
print(b[1:4])

<h3>Reverse Compliment a DNA sequence</h3>

Use string slice and replace method to create the revcomp sequence

In [ ]:
# reverse complement a DNA sequence
sequence_string = 'CGCGGGCGTAGTTAGTTCCTCACCAGAACGTCATTTGGTCCTCATCAATC'
revseq = sequence_string[::-1].lower()

In [ ]:
print('starting sequence_string:', sequence_string)
print('initial revseq string:   ', revseq)

In [ ]:
revseq = revseq.replace('a','T')
revseq = revseq.replace('g','C')
revseq = revseq.replace('t','A')
revseq = revseq.replace('c','G')

In [ ]:
print ('input   : 5\'-', sequence_string, '-3\'')
print ()
print ('revcomp : 5\'-', revseq, '-3\'')

In [ ]:
# print as double strands
print ('input   : 5\'-', sequence_string, '-3\'')
print ('revcomp : 3\'-', revseq[::-1], '-5\'')

<h3>input()</h3>

In [ ]:
'''
BMI = Weight in Kilograms / (Height in Meters ** 2)
'''

# user input for weight
weight = float(input('Weight (pounds) : '))
# convert lb to kg
weight = 0.45359237 * weight

# user input for height
height = float(input('Height (inches) : '))
# convert inches to meters
height = height / 39.37

BMI = weight / (height ** 2)

print ('BMI =', BMI)

In [ ]:
# print final BMI variable rounding to two decimals
print('BMI =', round(BMI,2))

In [ ]:
# write another way to calculate BMI
BMI = weight / pow(height, 2)
print('BMI =', round(BMI,2))

In [ ]:
# write a third way to calculate BMI
BMI = weight / (height * height)
print('BMI =', round(BMI,2))

<h3>GC percentage</h3>

In [ ]:
# Percent GC of a DNA sequence
s = 'GGCTTACCGGAGAGGATTGCCG'

# don't need to count the 'A's and 'T's
gcount = s.count('G')
ccount = s.count('C')
#acount = s.count('A')
#tcount = s.count('T')

# calculates the %, but has too many digits
gc = ((gcount + ccount) / len(s)) * 100

#alternate way to round, use modulo
gc = ((gcount + ccount) * 100) // len(s)

# could also use round()

print ('GC content of', s, '= ' + str(gc) + '%')

<h3>Find EcoRI restriction site</h3>

In [ ]:
dna = 'ACTGATCGATTACGTATAGTAGAATTCTATCATATATATCGAATTCGCGTTCAT'
#      123456789012345678901234567890123456789012345678901
#               1         2         3         4         5

EcoRI = 'GAATTC' # cuts after G, 4 base overhang
# G^AATTC
# CTTAA.G

# find returns index for the start of the ecori string
site = dna.find(EcoRI)
print('EcoRI string match:', site)

In [ ]:
# Need to add 1 for cut site location
cutsite = site + 1
print('EcoRI cutsite:', cutsite)

In [ ]:
# slice to retrieve DNA sequences before and after cut
five_prime = dna[:cutsite]
three_prime =  dna[cutsite:]

In [ ]:
print('first EcoR1 cutsite :', cutsite)
print('5\'-fragment length =', len(five_prime), ':',  five_prime)
print('3\'-fragment length =', len(three_prime), ':', three_prime)

# What if the enzyme site is not in the DNA sequence?
# if no match is found by find, it returns -1

In [ ]:
site2 = dna.find(EcoRI, cutsite)
cutsite2 = site2 + 1

In [ ]:
five_prime2 = dna[:cutsite2]
three_prime2 =  dna[cutsite2:]

In [ ]:
print('second EcoR1 cutsite :', cutsite2)
print('5\'-fragment length =', len(five_prime2), ':',  five_prime2)
print('3\'-fragment length =', len(three_prime2), ':', three_prime2)